body {
    background-color: #000;
    color: #fff;
}

a {
    color: #f90;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

#artist-wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#artist-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.bloc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Title {
    font-size: 35px;
    font-weight: 500;
}

.Text {
    font-size: 24px;
    color: grey;
}