body {
    background-color: black;
}

#credits-wrapper {
    margin-top: 50px;
    min-height: 100vh;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

#credits-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.Card {
    border: 1px solid grey;
    border-radius: 25px;
    padding: 25px;
    max-width: 200px;
    color: white;
    text-align: center;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Class {
    font-style: italic;
    font-size: 18px;
}

.Desc {
    font-size: 18px;
    color: gray;
}

.Title {
    color: white;
    font-size: 25px;
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}