.countdown-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.countdown-item {
  font-size: 30px;
  margin: 0 10px;
}

.countown-bloc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.digit {
  font-family: "Orbitron", sans-serif;
  display: inline-block;
  align-items: center;
  width: 50px;
  height: 70px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 70px;
  font-size: 36px;
  border-radius: 5px;
  font-weight: 700;
}

.digit-text {
  color: white;
  text-align: center;
  font-size: 25px;
}

body {
  background-color: black;
}
