body {
    background-color: black;
    color: white;
}

a {
    color: #f90;
    text-decoration: none;
}

#tour-wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tour-containter {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.tour-date {
    font-size: 35px;
}

.tour-bloc {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
}

.tour-place {
    font-size: 25px;
}